.flex {
    display: flex;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: #2F5C84;    
}

ul, li {
    margin: 0;
    padding: 0;
}
a,a:hover,a:focus {
    text-decoration: none!important;
}
