// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trash {
	float: right;
	font-size: 14px;
	line-height: 14px;
	// text-decoration: underline;
	color: #C1C1C1;
	a {
		color: #C1C1C1;
		&:hover {
			text-decoration: none;
		}
	}
}